@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}.bg-left {
   position: absolute;
   left: 0;
   top: 0;
   width: 50%;
   height: 100vh;
   background-size: cover;
   background-position: center;
   filter: blur(5px); /* Làm mờ ảnh */
   z-index: -1;
 }

.bg-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100vh;
  background-image: url('../../cute_web-main/public/anh2.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(5px); /* Làm mờ ảnh */
  z-index: -1;
}
